.out {
  background-color: #FFFEF1;
  padding: 20px 0px 0px;
}

.bigproject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/bg-02-00-PhotoRoom.jpg"); 
  /* background-color: #FFFEF1; */
  background-size: 1950px;
  height: 100vh;
  border-radius: 10px;
}

.cardhead {
  font-family: chewy;
  letter-spacing: 2px;
  font-size: 20px;
  color: maroon;
}

.projecthead {
  font-family: chewy;
  font-size: 48px;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#0a1755, #3e3e3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projecthead:hover {
  background: -webkit-linear-gradient(red, #3e3e3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media only screen and (max-width: 600px) { 
  .out {
    padding: 0px;
  }
  
  .projecthead {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .bigproject {
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .out {
    padding: 0px;
  }
  
  .projecthead {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .bigproject {
    height: auto;
  }
 }

 @media only screen and (max-width: 1200px) { 
  .bigproject {
    height: auto;
  }
 }