.out {
  background-color: #FFFEF1;
  /* padding: 50px; */
}

.container {
  background: #fbfafb;
  background-image: url("../../img/bg-02-00-PhotoRoom.jpg"); 
  background-size: 1950px;
  height: 100vh;
  border-radius: 10px;
}

.content {
  padding: 50px 50px 100px;
  display: flex;
  justify-content: center;
  width: 70%;
}

.leftcon {
  display: box;
  padding: 50px 30px;
  margin: 50px 20px;
}

.textone {
  font-size: 140px;
  /* -webkit-text-stroke: 0.01px #ede8e8; */
  font-family: 'Chewy';
  letter-spacing: 5px;
  padding: 5px 2px 5px 5px;
  margin: 0px;
  background: -webkit-linear-gradient(#2f0951, #3f3939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 
  typing 2s steps(10, end) ;
  border-right: .10em solid rgb(110, 97, 97);
}

.textone1 {
  display: none;
}

.textone:hover {
  background: -webkit-linear-gradient(#652e2e, #eeeeee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

.textthree {
  font-family: chewy;
  letter-spacing: 2px;
  font-size: 32px;
  padding: 0px 20px;
  margin: 0px;
  background: -webkit-linear-gradient(#472117, #da7a02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
    padding: 50px 20px;
}

.rightcon {
  display: box;
  position: relative;
  padding: 0px;
  margin: 50px 0px;
}

.catimg {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  width: 300px;
}

.catimg:hover {
  width: 400px;
}

@media only screen and (max-width: 650px) {
  .out {
    padding: 0px;
  }

  .textone {
    font-size: 60px;;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
  }

  .leftcon {
    height: 100vh;
  }

  .textone1 {
    display: flex;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px;
    justify-content: center;
  }

  .textthree {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 5px;
  }

  .rightcon {
    display: none;
  }

  .leftcon {
    padding : 10px;
    margin : 20px;
  }

  .btn {
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 50px;
  }
  
  .content {
    padding: 0px;
    width: 90%;
  }

  .container {
    display: flex;
    justify-content: center;
    height: auto;
  }
  
}

@media only screen and (max-width: 820px) {
  .out {
    padding: 0px;
  }
  
  .rightcon {
    display: none;
  }

  .leftcon {
    margin: 50px 20px 20px;
  }

  .textone {
   text-align: center;
   padding: 20px;
   font-size: 120 px;
  }

  .textthree {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .btn {
    padding: 0px;
    display: flex;
    justify-content: center;
  }
}
