.navbar {
    width: 90%;
    background-color:transparent;
    padding:0px 100px;
    position: fixed;
    z-index: 10;
}

ul {
    margin:0px;
}

li {
    padding: 0px 15px;
    font-size: 24px;
    font-family: chewy;
    letter-spacing: 1px;
    list-style-type: none;
    color: #a38a40;
    text-shadow: 2px 2px whitesmoke;   
}

li:hover {
    text-decoration: underline;
    text-decoration-color:red;
    cursor: pointer;
    color: #dfb023;
}

/* .navlist {
    padding: 0px;
    margin: 0px;
} */

a {
    text-decoration: none;
    color: #a38a40;
    text-shadow: 2px 2px whitesmoke;   
}
a:hover {
    text-decoration: none; 
    text-decoration-color:red;
    cursor: pointer;
    color: #dfb023;

}

.rightnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px;
}

.navcontent {
    padding: 5px;
}

@media only screen and (max-width: 600px) { 
.navbar {
    display: none;
}
}


@media only screen and (max-width: 820px) { 
.navbar {
    padding: 0px;
    justify-content: center;
    width: 100%;
}

.rightnav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}