.out {
    background-color: #FFFEF1;
    padding: 20px 50px 20px;
    background-image: url("../../img/bgg-4.png"); 
  }

.big {
    font-family: kanit;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.contact {
    font-size: 18px;
    font-family: kanit;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .big {
        display: block;
    }

    .contact {
        display: none;
    }
}