.out {
    background-color: #FFFEF1;
    padding: 0px 50px 20px;
  }

.big {
    font-family: kanit;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.contact {
    font-size: 18px;
    font-family: kanit;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .big {
        display: block;
    }

    .contact {
        display: none;
    }
}